body {
    background: #6F47E2 url("/image/BannerArtGallery.png") no-repeat right top;
    background-position-x: 100%;
  background-position-y: 10.6%;
    background-size: 60%;
    font-family: sans-serif;
    margin: 0px;
    font-size: 25px;
}


.div01{

    display: flex;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    color: #fff;
}

.ipintoLogo {
    width: 150px;
    height: 150px;
}

.tabcontainer {
    display: flex;
    flex-direction: row;
    padding-left: 800px;
}

.tabhead {
    margin-top: 50px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
   margin-left: 50px;
}

.title-container01 {
    margin-left: 50px;
}

.title01 {
    margin-top: 117px;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.div02{
    background: #fff;
    margin-top: 106px;
    height: 1150px;
}



#headerartwork {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

#artcontainer {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 5px;
}

#Ximage {
    padding-top: 50px;
    text-align: center;
}

.image {
    width: 250px;
    border-radius: 50px;
}

.image2 {
    background-color: #B8B8B6;
    width: 250px;
    border-radius: 50px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #EDB518;
}

/* footer */
#footer {
    font-size: 15px;
    color: #fff;
}

.footerbottom {
    margin: 2%;
    text-align: center;
}
