* {
    box-sizing: border-box;
}

body {
    background: #6F47E2 url("/image/isometric_img.png") no-repeat right top;
    background-position-x: 100%;
    background-size: 60%;
    font-family: sans-serif;
    margin: 0px;
    font-size: 25px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    color: white;
}

.brand-title {
    /* font-size: 1.5rem; */
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links a:hover {
    color: #EDB518;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* .div01{
    display: flex;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    color: #fff;
} */


.tabcontainer {
    display: flex;
    flex-direction: row;
    padding-left: 800px;
}

.tabhead {
    /* margin-top: 50px; */
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
   margin-left: 50px;
}

.title-container01 {
    margin-left: 50px;
}

.title01 {
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: 80px;
    line-height: 80px;
    font-weight: 700;
}

.title01-a{
    margin-top: 50px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}

.ipintoLogo {
    width: 150px;
    height: 150px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #EDB518;
}



@media screen and (max-width: 600px){
    body {
        background: #6F47E2;
    }

    .ipintoLogo {
        width: 100px;
        height: 100px;
    }

    .title01 {
        text-align: center;
        font-size: 30px;
        line-height: normal;

    }

    .title01-a {
        font-size: 20px;
        text-align: center;
        line-height: normal;
    }

    .title-container01 {
        margin: unset;
    }

    .toggle-button {
        display: flex;
        margin-top: 25px;
        width: 50px;
        height: 41px;
        right: 1rem;
    
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }


    .navbar-links.active {
        display: flex;
    }
}
