body {
    background: radial-gradient(circle, rgba(29,155,181,1) 0%, rgba(65,9,121,1) 71%, rgba(0,0,0,1) 100%);
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 25px;
}

#portfoliocontainer {
    margin: 10px;
    padding: 5px;
}

.icon-portfolio2 {
    background-color: #B8B8B6;
    width: 200px;
    border-radius: 100px;
}

#pagesbutton {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#para1 {
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.iconbutton {
    border-style: groove;
    border-radius: 10px;
    padding: 5px;
}



#mainheader {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
from {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

to {
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
}

a {
    color: aqua;
    text-decoration: none;
}

a:hover{
    color: #fff;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
      }
}

/* footer */
#footer {
    font-size: 15px;
    color: #fff;
}

.footerbottom {
    margin: 2%;
    text-align: center;
}